<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pageUrl</key>
	<string>https://dev-nginx.killinsun.com</string>
	<key>token</key>
	<string>ypz7ON</string>
</dict>
</plist>
